<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Why You Amazing</title>
  <link rel="stylesheet" href="/css/24reasons.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
  <!-- <header class="main-header">
      <h1>24 REASONS WHY YOU ARE AN AMAZING HUMAN BEING!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quam!
      </p>
    </header> -->
  <div class="container-header">
    <section class="container-header-message">
      <div>
        <p class="message-main">
          24 REASONS WHY YOU ARE AN AMAZING HUMAN BEING!
        </p>
      </div>
    </section>
  </div>

  <main class="container">
    <section class="card" data-aos="fade-up">
      <img src="img/24reasons/1.png" alt="" />
      <div>
        <h3>Number 1</h3>
        <p>
          You are the most faithful girlfriend in the entire world!
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/2.png" alt="" />
      <div>
        <h3>Number 2</h3>
        <p>
          Your parents are very lucky to have a loving and caring daughter.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/3.png" alt="" />
      <div>
        <h3>Number 3</h3>
        <p>
          Talking to you is very therapeutic because you can carry over a conversation
          that makes your boyfriend forget the cruelty of reality.
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/4.png" alt="" />
      <div>
        <h3>Number 4</h3>
        <p>
          You think about the welfare of the people surrounding you even if you can
          easily choose not to do so.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/5.png" alt="" />
      <div>
        <h3>Number 5</h3>
        <p>
          You brighten up the room the moment you step foot in it.
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/6.png" alt="" />
      <div>
        <h3>Number 6</h3>
        <p>
          You dance to Korean songs.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/7.png" alt="" />
      <div>
        <h3>Number 7</h3>
        <p>
          You stand up for what is right!
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/8.png" alt="" />
      <div>
        <h3>Number 8</h3>
        <p>
          You make your boyfriend be the best version of himself.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/9.png" alt="" />
      <div>
        <h3>Number 9</h3>
        <p>
          You always make time for your loved ones.
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/10.png" alt="" />
      <div>
        <h3>Number 10</h3>
        <p>
          Even if you're afraid of the future, you still face every single day with such
          bravery!
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/11.png" alt="" />
      <div>
        <h3>Number 11</h3>
        <p>
          THAT HOT BOD!
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/12.png" alt="" />
      <div>
        <h3>Number 12</h3>
        <p>
          You work hard for your dreams to become reality.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/13.png" alt="" />
      <div>
        <h3>Number 13</h3>
        <p>
          You always remind your boyfriend what the good things in life are!
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/14.png" alt="" />
      <div>
        <h3>Number 14</h3>
        <p>
          You willingly help people when they are in need.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/15.png" alt="" />
      <div>
        <h3>Number 15</h3>
        <p>
          When you talk about your future, you always include your boyfriend in it
          AWWIIIIIIEEE
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/16.png" alt="" />
      <div>
        <h3>Number 16</h3>
        <p>
          Even when in a toxic environment, you still deal with everything very
          maturely.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/17.png" alt="" />
      <div>
        <h3>Number 17</h3>
        <p>
          You are a great friend!
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/18.png" alt="" />
      <div>
        <h3>Number 18</h3>
        <p>
          You are now exercising for a better health and bigger boobs!
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/19.png" alt="" />
      <div>
        <h3>Number 19</h3>
        <p>
          You turn your boyfriend on in seconds!!
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/20.png" alt="" />
      <div>
        <h3>Number 20</h3>
        <p>
          You are the smartest person ever!
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/21.png" alt="" />
      <div>
        <h3>Number 21</h3>
        <p>
          You make life far from being bland and boring.
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/22.png" alt="" />
      <div>
        <h3>Number 22</h3>
        <p>
          You are passionate in what you do.
        </p>
      </div>
    </section>

    <section class="card" data-aos="fade-right">
      <img src="img/24reasons/23.png" alt="" />
      <div>
        <h3>Number 23</h3>
        <p>
          You are simple in whole full of complicated *tooooot*
        </p>
      </div>
    </section>

    <section class="card card-2" data-aos="fade-left">
      <img src="img/24reasons/24.png" alt="" />
      <div>
        <h3>Number 24</h3>
        <p>
          YOU ARE A STRONG INDEPENDENT WOMAN!
        </p>
      </div>
    </section>

    <footer class="footer-message">
      <p>
        I hope I made you feel special because special is what you are and you deserve
        to know that. I love you so much.
      </p>
      <p class="tiny-msg">AYIIEEE!</p>
    </footer>
  </main>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 400, // offset (in px) from the original trigger point
      delay: 0, // values from 0 to 3000, with step 50ms
      duration: 1000, // values from 0 to 3000, with step 50ms
    });
  </script>
</body>

</html>