<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/index.css" />
  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <section id="happy-bday" class="happy-bday">
      <div class="bday-pic">
        <img src="/img/birthdaycake2.png" alt="bday-cake" width="850" />
      </div>
      <div class="bday-message">
        <p>
          H A P P Y <br />2 4 t h<br />
          B I R T H D A Y, <br />D A N D A N !
        </p>
      </div>
    </section>
    <section id="about">
      <h1>About</h1>
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!
      </p>
    </section>
  </div>
</body>

</html>