<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="icon" href="/img/bdaycake.png">

  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <section id="happy-bday" class="happy-bday">
      <div class="bday-pic">
        <img src="/img/birthdaycake2.png" alt="bday-cake" width="850" />
      </div>
      <div class="bday-message">
        <p>
          H A P P Y <br />2 4 t h<br />
          B I R T H D A Y, <br />D A N D A N !
        </p>
      </div>
    </section>
    <div id="amazing-reasons" class="amazing-reasons">
      <section id="amazing-reasons-section" class="amazing-reasons-section">
        <div class="box">
          <h1>Reasons Why You Are Amazing</h1>
          <p class="lead">
            24 reasons why I think you are such an amazing person!
          </p>
          <a href="/24reasons" target="_blank">
            <button>Click Here!</button>
          </a>

        </div>
      </section>
    </div>
    <div id="love-gallery" class="love-gallery">
      <section id="amazing-reasons-section" class="amazing-reasons-section">
        <div class="box">
          <h1>Love Gallery</h1>
          <p class="lead">
            24 photos showing our love. AYIIEEEUT!
          </p>
          <a href="/lovegallery" target="_blank">
            <button>Click Here!</button>
          </a>

        </div>

      </section>
    </div>

    <div id="video-gift" class="video-gift">
      <section id="amazing-reasons-section" class="amazing-reasons-section">
        <div class="box">
          <h1>Video Presentation</h1>
          <p class="lead">
            As a vlogger. Like and subscribe then click the bell button to get notified when new videos are released.
          </p>
          <a href="/video" target="_blank">
            <button>Click Here!</button>
          </a>
        </div>
      </section>
    </div>
  </div>
</body>

</html>