<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Love Gallery</title>
  <link rel="stylesheet" href="/css/love.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

  <link href="https://fonts.googleapis.com/css2?family=Galada&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="container-header">
      <section id="container-header-message" class="container-header-message">
        <div>
          <p class="message-main">
            24 PHOTOS OF LOVE
          </p>
        </div>
      </section>
    </div>


    <section id="img-gallery">
      <div class="slider">
        <div class="slide current">
          <div class="content">
            <h1>Image One</h1>
            <p>
              Hi langga! I love you so much!
            </p>
            <p style="font-size: 11px">Click the left or right button to navigate.</p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Two</h1>
            <p>
              Halu again! I love you uliiit! HAHAHA
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Three</h1>
            <p>
              Ola! You are still here! I love you uy!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Four</h1>
            <p>
              Did you know that falling in love has neurological effects similar to
              those of cocaine? Ka-addicting man oist.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Five</h1>
            <p>
              Ayiieee grad pic! Maka-hard... ng soul wuw HAHAHAHA Labyu oist!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Six</h1>
            <p>
              Thank you Lord sa giving me the best gift of all time! Murag ako ang naay
              birthday pero everyday pa! Naks na naks!
            </p>
          </div>
        </div>

        <div class="slide">
          <div class="content">
            <h1>Image Seven</h1>
            <p>
              Lamion kag braso diri. Lami tilapan beba. HAHAHA I wolf you!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Eight</h1>
            <p>
              Sarap kagatin ang dila ayy! Hi langga. Bear with me ha kay hurot na man
              gud akong mga messages na naga-make sense sa years na nag-uban ta HAHAHA.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Nine</h1>
            <p>
              HAHAHAHAHA aw pero pretty gihapon oy bisan abri ang mata.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Ten</h1>
            <p>
              The glowing skin is brought to you by our sponsor Oppo beautify camera
              feature.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Eleven</h1>
            <p>
              Ka-supportive ko while nagahanap ka ng work! Kaswerte mo beba. Ako na
              naga-ingon sa imong behalf HAHAHAHA
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Twelve</h1>
            <p>
              Naa pa ta sa 12th pic? Wala na man koy maingon oy HAHAHA Kasi love is
              about feeling, not saying wuw.
            </p>
          </div>
        </div>

        <div class="slide">
          <div class="content">
            <h1>Image Thirteen</h1>
            <p>
              I love you beba and I promise na dili tika i-hurt especially physically.
              If I would hit you, it's because I wanna hit you with that ddu-du ddu-du
              du.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Fourteen</h1>
            <p>
              Tell me, tell me that you want me. <br />
              And I'll be yours completely, for better or for worse. <br />
              I love you baby giiiirl!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Fifteen</h1>
            <p>
              Thank you for bring me with these kind of stuff beba. Makahappy na daghan
              kog first times na ginabuhat with you. Sarap sa feeling ng MINAMAHAL
              LORD!!!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Sixteen</h1>
            <p>
              I'm always looking forward to spend my years with youuu! I hope makavisit
              kog Tagum this year! Kamatay na COVID oy!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Seventeen</h1>
            <p>
              I love you so muuuch Danica Mae Arguelles Manubag! SOBRA SOBRA!
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Eighteen</h1>
            <p>
              I love being weird with you palangga! Mao ni'y authentic na gugma guys.
              Take notes!
            </p>
          </div>
        </div>

        <div class="slide">
          <div class="content">
            <h1>Image Nineteen</h1>
            <p>
              Err wet ta both diri HAHAHAHA
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Twenty</h1>
            <p>
              Anyway, don't forget to make a wish sa imong birthday ha? Magcollab ko kay
              god of 11:11 and other gods to make sure na mahitabo imong wish
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Twenty-One</h1>
            <p>
              Time check. I'm coding at 2:01 AM this July 16, 2020. Filler lang ni na
              message beba HAHAHAHA
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Twenty-Two</h1>
            <p>
              I hope wala pa ka na-annoy sa akong I love you's because always nako na
              iingon sa imo, sa ayaw o sa gusto mo HAHAHA Stuck na ka sa akong
              pagka-annoying Love.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Twenty-Three</h1>
            <p>
              Did you know that holding a loved one’s hand relieves pain And stress? So
              kapit lang sa hands ko always. Naa ni always for you my Love.
            </p>
          </div>
        </div>
        <div class="slide">
          <div class="content">
            <h1>Image Twenty-Four</h1>
            <p>
              Happy 24th Birthday, my forever palangga and mahal ko! I hope you are
              still happy considering the circumstance. Always look at the good things
              in life and makita ko nimo didto HAHAHA God bless you and take care of
              yourself always. Plano pa nako ispend ang rest sa akong life with you. I
              LOVE YOU FOREVER :)
            </p>
          </div>
        </div>
      </div>
  </div>

  <div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
  </div>
  </section>
  <script src="/js/love.js"></script>
  </div>
</body>

</html>