<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Presentation</title>
  <link rel="stylesheet" href="/css/video.css" />
  <link rel="icon" href="/img/bdaycake.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="container-header">
      <section id="container-header-message" class="container-header-message">
        <div>
          <iframe width="720" height="420" src="https://www.youtube.com/embed/1DKCfZ2zNcA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <p style="padding-top: 20px;" class="message-main">
            Here's a video. Enjoy!
          </p>
          <p class="message-main">
            Happy birthday, langga!
          </p>
        </div>
      </section>
    </div>
</body>

</html>